[Desktop Entry]
Encoding=UTF-8
Name=ATBCoin
Comment=ATBCoin P2P Cryptocurrency
Comment[fr]=ATBCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ATBCoin, eşten eşe kriptografik sanal para birimi
Exec=bitcoin-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/bitcoin;
Categories=Office;Finance;
