.QPushButton{
  	min-width: 125px;
  	height: 31px;
  	line-height: 31px;
  	font-size: 12px;
  	font-weight: 600;
  	text-transform: uppercase;
  	box-shadow: 0 1px #cccaad;
  	background: #ffffff;
  	color: #96946d;
}
.QPushButton:focus{
	color: #ffffff;
  	background: #2179F1;
}
.QPushButton:hover{
  	min-width: 125px;
  	height: 31px;
  	line-height: 31px;
  	font-size: 12px;
  	font-weight: 600;
  	text-transform: uppercase;
  	box-shadow: 0 2px #8c331e;
  	background: #2179F1;
 	color: #fff;
}
.QPushButton:pressed{
  	background: #1169E1;
}
#buttonChooseFee , #buttonMinimizeFee{
	background: #cccaa5;
  	color: #ffffff;
  	border-radius: 14px;
  	height: 29px;
  	line-height: 29px;
  	padding: 0 15px;
  	min-width: 114px;
}
#buttonChooseFee , #buttonMinimizeFee:focus{
	color: #ffffff;
  	background: #cccaa5;
}
#buttonChooseFee , #buttonMinimizeFee:hover{
	color: #ffffff;
  	background: #dcdab5;
}
#buttonChooseFee , #buttonMinimizeFee:pressed{
	background: #bcba85;
}

.QLabel{
  	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;

}
.QLineEdit{
	height: 29px;
	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;
  	border-radius: 2px;
  	background: #ffffff;
  	border: 2px solid #d8d6ba;
  	cursor: pointer;
  	text-align: center;
  	vertical-align: middle;
  	margin: 5px;
}
.QValidatedLineEdit{
	height: 29px;
	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;
  	border-radius: 2px;
  	background: #ffffff;
  	border: 2px solid #d8d6ba;
  	cursor: pointer;
  	text-align: center;
  	vertical-align: middle;
  	margin: 5px;
}
.QCheckBox{
  	height: 29px;
	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;
  	cursor: pointer;
  	text-align: center;
  	vertical-align: middle;
  	margin: 5px;
}
.QCheckBox::indicator{
  	height: 25px;
  	width: 25px;
	border-radius: 2px;
  	background: #ffffff;
  	border: 2px solid #d8d6ba;
  	cursor: pointer;
  	margin: 5px;
}
.QCheckBox::indicator:disabled{
  	background: #cccccc;
}
.QCheckBox::indicator:unchecked {
  	background: #ffffff;
  	color: #ffffff;
}

.QCheckBox::indicator:checked {
  	background: #dddddd;
	image: url(:/icons/checkbox);
}
.QCheckBox::indicator:checked:disabled
{
  	background: #cccccc;
	image: url(:/icons/checkbox);
}
.QCheckBox::indicator:unchecked:disabled
{
  	background: #cccccc;
}
.QFrame{
	color:#F5F5DC;
}
#frameFee{
	background: #e4e3dd;
}
.QRadioButton{
	font-size: 14px;
	font: bold;
	color:#B0B06B;
	margin-left:5px;
}
.QSpinBox{
	margin-left:5px;
	height: 29px;
	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;
  	width: 224px;
  	display: inline-block;
  	position: relative;
}
.QDoubleSpinBox{
	margin-left:5px;
	height: 29px;
	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;
  	width: 224px;
  	display: inline-block;
  	position: relative;
}
.AmountSpinBox{
	margin-left:5px;
	height: 29px;
	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;
  	width: 224px;
  	display: inline-block;
  	position: relative;
}
.QComboBox{
	margin-left:5px;
	height: 29px;
	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;
  	width: 224px;
  	display: inline-block;
  	position: relative;
}
.QValueComboBox{
	margin-left:5px;
	height: 29px;
	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;
  	width: 224px;
  	display: inline-block;
  	position: relative;
}

.QProgressBar {
    border: 0px;
    border-radius: 6px;
}

.QProgressBar::chunk {
    background-color: #4d9075;
    width: 2px;
}



.QToolButton{
  	height: 29px;
  	line-height: 29px;
  	padding: 0 20px;
  	font-weight: 600;
  	background: transparent;
  	border-radius: 14px;
  	color: #3d8065;
}

.QToolButton:hover{
	color: #ffffff;
  	background: #4d9075;
}

.QToolButton:pressed{
	background: #4199E1;
}

.QTableView{
  	font-size: 15px;
  	font-weight: 500;
	color: #696969;
}
.QHeaderView::section {
    background: #E4E4E4;
  	color: #96946d;
	font-size: 14px;
	font: bold;
}

