.QPushButton{
  	min-width: 125px;
  	height: 31px;
  	line-height: 31px;
  	font-size: 12px;
  	font-weight: 600;
  	text-transform: uppercase;
  	box-shadow: 0 1px #cccaad;
  	background: #ffffff;
  	color: #96946d;
}
.QPushButton:focus{
	color: #ffffff;
  	background: #2179F1;
}
.QPushButton:hover{
  	min-width: 125px;
  	height: 31px;
  	line-height: 31px;
  	font-size: 12px;
  	font-weight: 600;
  	text-transform: uppercase;
  	box-shadow: 0 2px #8c331e;
  	background: #2179F1;
 	color: #fff;
}
.QPushButton:pressed{
  	background: #1169E1;
}
#buttonChooseFee , #buttonMinimizeFee{
	background: #cccaa5;
  	color: #ffffff;
  	border-radius: 14px;
  	height: 29px;
  	line-height: 29px;
  	padding: 0 15px;
  	min-width: 114px;
}
#buttonChooseFee , #buttonMinimizeFee:focus{
	color: #ffffff;
  	background: #cccaa5;
}
#buttonChooseFee , #buttonMinimizeFee:hover{
	color: #ffffff;
  	background: #dcdab5;
}
#buttonChooseFee , #buttonMinimizeFee:pressed{
	background: #bcba85;
}

.QLabel{
  	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;

}
.QLineEdit{
	height: 29px;
	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;
  	border-radius: 2px;
  	background: #ffffff;
  	border: 2px solid #d8d6ba;
  	cursor: pointer;
  	text-align: center;
  	vertical-align: middle;
  	margin: 5px;
}
.QValidatedLineEdit{
	height: 29px;
	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;
  	border-radius: 2px;
  	background: #ffffff;
  	border: 2px solid #d8d6ba;
  	cursor: pointer;
  	text-align: center;
  	vertical-align: middle;
  	margin: 5px;
}
.QCheckBox{
  	height: 29px;
	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;
  	cursor: pointer;
  	text-align: center;
  	vertical-align: middle;
  	margin: 5px;
}
.QCheckBox::indicator{
  	height: 20px;
  	width: 20px;
	border-radius: 2px;
  	background: #ffffff;
  	border: 2px solid #d8d6ba;
  	cursor: pointer;
  	margin: 5px;
}
.QCheckBox::indicator:disabled{
  	background: #dddddd;
}
.QCheckBox::indicator:unchecked {
  	background: #ffffff;
  	color: #ffffff;
}

.QCheckBox::indicator:checked {
  	background: #cccccc;
	image: url(:/icons/checkbox);
}
.QCheckBox::indicator:checked:disabled
{
  	background: #dddddd;
	image: url(:/icons/checkbox);
}
.QCheckBox::indicator:unchecked:disabled
{
  	background: #dddddd;
}
.QFrame{
	color:#F5F5DC;
}
#frameFee{
	background: #e4e3dd;
}
.QRadioButton{
	font-size: 14px;
	font: bold;
	color:#B0B06B;
	margin-left:5px;
}
.QSpinBox{
	margin-left:5px;
	height: 29px;
	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;
  	width: 224px;
  	display: inline-block;
  	position: relative;
}
.QDoubleSpinBox{
	margin-left:5px;
	height: 29px;
	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;
  	width: 224px;
  	display: inline-block;
  	position: relative;
}
.AmountSpinBox{
	margin-left:5px;
	height: 29px;
	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;
  	width: 224px;
  	display: inline-block;
  	position: relative;
}
.QComboBox{
	margin-left:5px;
	height: 29px;
	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;
  	width: 224px;
  	display: inline-block;
  	position: relative;
}
.QValueComboBox{
	margin-left:5px;
	height: 29px;
	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;
  	width: 224px;
  	display: inline-block;
  	position: relative;
}

.QProgressBar {
    border: 0px;
    border-radius: 6px;
}
.QProgressBar::chunk {
  	background: #4ba27e;
}
.QSlider::groove:horizontal {
    border: 1px solid #999999;
    height: 4px; 
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #4ba27e, stop:1 #5bb28e);
    margin: 2px 0;
}

.QSlider::handle:horizontal {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #b4b4b4, stop:1 #8f8f8f);
    border: 1px solid #5c5c5c;
    width: 18px;
    margin: -2px 0; 
    border-radius: 3px;
}
.QSlider::groove:horizontal:disabled {
    border: 1px solid #999999;
    height: 4px; 
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #cccccc, stop:1 #cccccc);
    margin: 2px 0;
}

.QSlider::handle:horizontal:disabled {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #cccccc, stop:1 #cccccc);
    border: 1px solid #5c5c5c;
    width: 18px;
    margin: -2px 0; 
    border-radius: 3px;
}

.QToolButton{
  	height: 29px;
  	line-height: 29px;
  	padding: 0 20px;
  	background: transparent;
  	border-radius: 14px;
  	color: #3d8065;
  	font-weight: 600;
}

.QToolButton:hover{
	color: #ffffff;
  	background: #4ba27e;
	filter: brightness(1);
}

.QToolButton:pressed{
	background: #40a070;
}

.QTableView{
  	font-size: 15px;
  	font-weight: 500;
	color: #696969;
}
.QHeaderView::section {
    background: #E4E4E4;
  	color: #96946d;
	font-size: 14px;
	font: bold;
}


.QTabWidget::pane {
    border-top: 2px solid #4ba27e;
}

.QTabWidget::tab-bar {
    left: 5px; 
}

.QTabBar::tab {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                                stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
    border: 0px solid #C4C4C3;
    border-bottom-color: #4ba27e; 
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 2px;
	width: 130px;
	height: 25px;
  	color: #3d8065;
  	font-weight: 600;
}

.QTabBar::tab:selected, QTabBar::tab:hover {
  	color: #ffffff;
	border-bottom: 2px solid #4ba27e;
    background: #4ba27e;
}

.QTabBar::tab:selected {
    border-color: #4ba27e;
    border-bottom-color: #4ba27e; 
}

.QTabBar::tab:!selected {
    margin-top: 2px;
}

