.QPushButton{
    min-width: 120px;
	margin:5px;
	border:none;
	border-bottom:2px solid #dddddd;
	border-radius:1px;
  	height: 31px;
  	font-size: 12px;
  	font-weight: 600;
  	text-transform: uppercase;
  	background-color: #ffffff;
  	color: #96946d;
}
.QPushButton:focus{
	color: #96946d;
  	background-color: #eee;
}
.QPushButton:hover{
  	box-shadow: 0 2px #8c331e;
  	background-color: #eee;
 	color: #96946d;
}
.QPushButton:pressed{
  	background-color: #cccaad;
}
.QPushButton:disabled{
  	background-color: #eee;
	color:#bbbbbb
}
#labelWalletStatus,#labelTransactionsStatus{
	background-color: transparent;
	border-bottom:none;
}
#sendButton,#openDebugLogfileButton{
	border:none;
	border-bottom:2px solid #3f8fc1;
	background-color:#4e9fd2;
	color:#fff;
}
#sendButton:hover,#openDebugLogfileButton:hover{
	background-color:#6bbbed;
	color:#fff;
}
#sendButton:pressed,#openDebugLogfileButton:pressed{
	background-color:#336d92;
	color:#fff;
}
#buttonChooseFee , #buttonMinimizeFee{
	background-color: #cccaa5;
  	color: #ffffff;
  	border-radius: 14px;
  	height: 29px;
  	line-height: 29px;
  	padding: 0 15px;
  	min-width: 114px;
}
#buttonChooseFee:hover , #buttonMinimizeFee:hover{
	color: #ffffff;
  	background-color: #dcdab5;
}
#buttonChooseFee:pressed , #buttonMinimizeFee:pressed{
	background-color: #bcba85;
}
#addressBookButton,#deleteButton,#pasteButton,#toolButton,#BClearAmount,#BClearKey,#promptIcon,#fontSmallerButton,#fontBiggerButton,#clearButton{
	background-color: #fff;
	border-radius: 1px;
	margin:5px;
	height: 29px;
  	width: 15px;
}

#addressBookButton:hover,#deleteButton:hover,#pasteButton:hover,#BClearAmount:hover,#BClearKey:hover,#fontSmallerButton:hover,#fontBiggerButton:hover,#clearButton:hover{
	background-color: #eee;
}


.QLabel{
  	font-size: 14px;
  	font-weight: 500;
  	color: #96946d;

}
#unitDisplayControl{
  	color: #3d8065;
}
#InfoReceiveCoupon{
  	font-size: 16px;
  	font-weight: 700;
  	color: #fff;
}
#RecenTransactions{
        margin-left:10px;
        text-transform: uppercase;
}
#OverViewBalances{
        font:bold;
        text-transform: uppercase;
}
#labelBalance,#labelImmature,#labelStake,#labelTotal,#labelUnconfirmed{
	    font:bold;
}
#CouponInfo{
  	font-size: 15px;
  	font-weight: 500;
  	color: #ddd;
}
.QLineEdit{

	height: 29px;
	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;
  	background: #ffffff;
  	border: 2px solid #d8d6ba;
	border-radius:4px;
  	cursor: pointer;
  	text-align: center;
  	vertical-align: middle;
  	margin: 5px;
}
.QValidatedLineEdit{

	height: 29px;
	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;
  	background: #ffffff;
  	border: 2px solid #d8d6ba;
  	border-radius: 4px;
  	cursor: pointer;
  	text-align: center;
  	vertical-align: middle;
  	margin: 5px;
}
.QCheckBox{
  	height: 29px;
	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;
  	cursor: pointer;
  	text-align: center;
  	vertical-align: middle;
  	margin: 5px;
}
.QCheckBox::indicator{
  	height: 20px;
  	width: 20px;
	border-radius: 6px;
  	background: #ffffff;
  	border: 2px solid #d8d6ba;
  	cursor: pointer;
  	margin: 5px;
}
.QCheckBox::indicator:disabled{
  	background: #dddddd;
}
.QCheckBox::indicator:unchecked {
  	background: #ffffff;
  	color: #ffffff;
}

.QCheckBox::indicator:checked {
  	background: #49a37f;
	image: url(:/icons/checkbox);
}
.QCheckBox::indicator:checked:disabled
{
  	background: #19835f;
	image: url(:/icons/checkbox);
}
.QCheckBox::indicator:unchecked:disabled
{
  	background: #dddddd;
}
.QFrame{
	margin:0px;
	color:#F5F5DC;
	border:none;
	border-radius:4px;
}
QFrame[frameShape="4"],
QFrame[frameShape="5"]
{
    border: none;
    background: #e3e2cd;
}
#tabFrame{
	background-color:#f0eedc;
}
#MainFrame{
	background-color:#f0eedc;
}
#frameFee{
	background: #e4e3dd;
}
#InfoFrame{
	background: #4ba27e;
	color: #eeeeee;
}
.QRadioButton{
	font-size: 14px;
	font: bold;
	color:#B0B06B;
	margin-left:5px;
}
.QRadioButton::indicator{
    width:                  8px;
    height:                 8px;
    border-radius:          7px;
}
.QRadioButton::indicator::checked{
	background-color:#49a37f;
    border:          4px solid white;
	
}
.QRadioButton::indicator::unchecked{
	background-color:#fff;
    border:          4px solid white;
	
}

.QSpinBox{
	margin-left:5px;
	height: 29px;
	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;
  	width: 224px;
  	display: inline-block;
  	position: relative;
}
.QDoubleSpinBox{
	margin-left:5px;
	height: 29px;
	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;
  	width: 224px;
  	display: inline-block;
  	position: relative;
}
.AmountSpinBox{
	margin-left:5px;
	height: 29px;
	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;
  	width: 224px;
  	display: inline-block;
  	position: relative;
}
.QComboBox{
	margin-left:5px;
	height: 29px;
	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;
  	width: 224px;
  	display: inline-block;
  	position: relative;
}
QComboBox QAbstractItemView{
	background-color: #ffffff;
	selection-background-color: #f9f9f3;
	border-radius: 3px;
	color: #617279;
        font-size: 14pt;
}
.QValueComboBox{
	margin-left:5px;
	height: 29px;
	font-size: 15px;
  	font-weight: 500;
  	color: #96946d;
  	width: 224px;
  	display: inline-block;
  	position: relative;
}

.QProgressBar { 
	border: none; 
	background: transparent;
	border-radius: 15px; 
	padding: 1px; 
	color:#fff;
	text-align: center; 
} 
.QProgressBar::chunk {
 	background: #4ba27e;
	border-radius: 7px; margin: 0px;
}

.QSlider::groove:horizontal {
    border: 1px solid #999999;
    height: 4px; 
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #4ba27e, stop:1 #5bb28e);
    margin: 2px 0;
}

.QSlider::handle:horizontal {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #b4b4b4, stop:1 #8f8f8f);
    border: 1px solid #5c5c5c;
    width: 18px;
    margin: -2px 0; 
    border-radius: 3px;
}
.QSlider::groove:horizontal:disabled {
    border: 1px solid #999999;
    height: 4px; 
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #cccccc, stop:1 #cccccc);
    margin: 2px 0;
}

.QSlider::handle:horizontal:disabled {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #cccccc, stop:1 #cccccc);
    border: 1px solid #5c5c5c;
    width: 18px;
    margin: -2px 0; 
    border-radius: 3px;
}
.QToolButton{
  	height: 27px;
  	line-height: 27px;
  	padding: 0 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
  	background: transparent;
  	border-radius: 14px;
  	color: #3d8065;
  	font-weight: 600;
}

.QToolButton:hover{
	border: 1px;
	background-color:#cdccb8;
}
.QToolButton:checked{
        color: #e3e2cd;
  	background: #4ba27e;
}


QTableView{
    font-size: 13px;
    font-weight: 500;
    border: 2px solid #e2e0c5;
    overflow: hidden;
    margin: 20px 0 25px;
    color: #696969;
    selection-background-color: #e1e0c4;
}

QHeaderView::section {
    background: #e2e0c5;
    text-transform: uppercase;
    alternate-background-color: #f0eedc;
    color: #96946d;
    font-weight: 600;
    font-size: 10px;
    font: bold;
}

.QTabWidget::pane {
    border-top: 2px solid #4ba27e;
}

.QTabWidget::tab-bar {
    left: 5px; 
}

.QTabBar::tab {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                                stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
    border: 0px solid #C4C4C3;
    border-bottom-color: #4ba27e; 
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 2px;
	width: 130px;
	height: 25px;
  	color: #3d8065;
  	font-weight: 600;
}

.QTabBar::tab:selected, QTabBar::tab:hover {
  	color: #ffffff;
	border-bottom: 2px solid #4ba27e;
    background: #4ba27e;
}

.QTabBar::tab:selected {
    border-color: #4ba27e;
    border-bottom-color: #4ba27e; 
}

.QTabBar::tab:!selected {
    margin-top: 2px;
	background:	#efebe7;
}

.QWidget,.QDialog{
	background-color: #f0eedc;
	margin:0px;
}
#OverviewPage{
	background-color: #f0eedc;
}

.QMainWindow {
    background: #e3e2cd;
}
.QToolBar{
    background: #e0dfc5;
	border: none;
}
.QStatusBar{
	height:15px;
	color:#4ba27e;
	background: #fff;
	margin-left: 0px;
	margin-right: 0px;
}
#progressBarLabel{
	color:#4ba27e;
}

QMenuBar {
    background-color: transparent;
    color: #6a6970;
}

QMenuBar::item {
    spacing: 3px; /* spacing between menu bar items */
    padding: 1px 4px;
    background: transparent;
    border-radius: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

QMenuBar::item:selected { /* when selected using mouse or keyboard */
    background: #e0dfc5;
}

QMenuBar::item:pressed {
    background: #e0dfc5;
}


QMenu {
    background-color: white;
    color: #96946d;
    margin: 2px; /* some spacing around the menu */
}

QMenu::item {
    padding: 2px 25px 2px 20px;
    border: 0px solid transparent; /* reserve space for selection border */
}

QMenu::item:selected {
    border-color: #96946d;
    border: 1px solid;
    background: #f9f9f3;
}

QMenu::icon:checked { /* appearance of a 'checked' icon */
    background: #f9f9f3;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
}

QMenu::separator {
    height: 2px;
    background: lightblue;
    margin-left: 10px;
    margin-right: 5px;
}

QMenu::indicator {
    width: 13px;
    height: 13px;
}
